@model TTTN.Models.C_post
@{
    ViewBag.Title = "Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="float:left !important;">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v9.0" nonce="yZwjMFhK"></script>
    <div class="row my-4">
        
            <div class="border col-9">
                <h2 class=" mt-3">@Model.post_title</h2>
                <i class="far fa-clock"></i> @Model.post_createdat.ToString("dd/MM/yyyy hh:mm:ss")
                <p>@Html.Raw(Model.post_detail)</p>
                <div class="fb-comments" data-href="https://localhost:44397/" data-numposts="1" data-width=""></div>
                <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="" data-layout="standard" data-action="like" data-size="large" data-share="true"></div>
            </div>
    </div>
</div>
