<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container" style="border:3px #4cff00 solid">
        <img src="{{img}}" alt="Alternate Text" style="display:block;" class="img-fluid" />
        <h1   style=" display: block; max-width: 209px;border: none;"><a href=""><span>Grocery</span> Store</a></h1>
        <h2 class="text-center">Đơn hàng của bạn đã được giao thành công!</h2>
        <div class="m_6986313849436700617section-content">
            <h2>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">{{fullname}} ơi,</font>
                </font>
            </h2>
            <p>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">TN Store đã giao cho bạn đầy đủ với các sản phẩm được liệt kê bên dưới theo đơn hàng&nbsp;</font>
                </font><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">#{{OrderCode}}</font></font></strong>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;"> của bạn, TN Store hi vọng bạn hài lòng với các sản phẩm này!</font>
                </font>
            </p>
            <p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Một vài lưu ý nhỏ cho bạn:</font></font></strong></p>
            <ul>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Hãy kiểm tra kỹ chất lượng sản phẩm bạn nhận được và giữ lại hóa đơn, hộp sản phẩm và phiếu bảo hành (nếu có) để trả hàng hoặc bảo hành khi cần thiết.</font>
                    </font>
                </li>
                <li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Trong trường hợp sản phẩm có dấu hiệu hư hỏng/ bể vỡ hoặc không đúng với thông tin như mô tả, bạn hãy liên hệ với Lazada bằng cách để lại tin nhắn tại trang&nbsp;</font>
                    </font>
                    <a href="#" target="_blank" data-saferedirecturl="">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Liên hệ</font>
                        </font>
                    </a>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">&nbsp;trong vòng 24 giờ sau khi nhận sản phẩm để được hỗ trợ nhé.</font>
                    </font>
                </li>
            </ul>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js " integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM " crossorigin="anonymous "></script>
</body>
</html>