@model IEnumerable<TTTN.Models.C_menu>

@{ var menu2 = ViewBag.menuitem2;}
<a class="dropdown-item dropdown-toggle" href="@menu2.menu_link" id="navbarDropdown2" aria-labelledby="navbarDropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    @menu2.menu_name
</a><i></i>
<ul class="collapse navbar-collapse">
    <li class="dropdown ">
        <div class="dropdown-submenu" aria-labelledby="navbarDropdown2">
            @foreach (var item in Model)
            {
                <a class="dropdown-item" href="@item.menu_link">@item.menu_name</a><i></i>
            }
        </div>
    </li>
</ul>